{% extends "base.html" %}
{% block content %}

<main id="maincontent">
    <section>
        <div class="container is-widescreen">
            <div class="columns is-multiline">
                <article class="column box">
                    <h1 class="title is-2 has-text-centered mb-1">{{art.name}}</h1>
                    <figure class="image">
                        <img src="/static/img/art/{{art.image}}">
                    </figure>
                </article>
            </div>
        </div>
    </section>
  </main>


{%endblock%}