{% extends "base.html" %}
{% block content %}

<main id="maincontent">
  <section>
    <div class="container is-max-widescreen box">
      <h1 class="title">Get in touch</h1>
      <div class="content">
        <p>The easiest way to get in touch with me is by email at <a href="mailto:dan@danhartropp.com">dan@danhartropp.com</a></p>
        <p>But you can also follow me on <a href="https://www.instagram.com/danhartropp/">Instagram</a> and DM me.</p>
        <p>And if you're interested in getting in touch, you'll surely also be interested in signing up for my newsletter.</p>
      </div>
    </div>
  </section>
</main>

{%endblock%}