{% extends "base.html" %}
{% set page_title = 'Get in touch' %}
{% set description = 'How to reach Dan Hartropp.' %}

{% block content %}
<main id="maincontent">
  <section class="section">
    <div class="narrow">
      <h1>Get in touch</h1>
      <div class="prose">
        <p>The easiest way to get in touch with me is by email at
           <a href="mailto:dan@danhartropp.com">dan@danhartropp.com</a></p>
        <p>But from time to time (very rarely these days) I can also be found on Instagram and LinkedIn.</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}
