{% extends "base.html" %}
        {% block content %}
        <!-- ***main*** -->
        <section class="hero is-medium bg-image" style="background-image: url('./static/img/guardian.jpg');">
          <div class="hero-body">
            <p class="title has-text-centered is-size-1 has-text-light ">
              <span class="has-background-black-bis px-3 padded-multiline">Art. </span></p>
            <p class="subtitle has-text-centered is-size-2 has-text-light">
              <span class="has-background-black-bis px-3 padded-multiline">Hand-coded in London.  </span>  </p>

          </div>
        </section>

      <main id="maincontent">
      <section>
        <div class="container is-fluid py-6">
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-7">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  {% for post in featured_posts %}
                  <article class="tile is-child box">
                    <p class="title"><span>{{post.title}}</span></p>

                    {%if post.subtitle != None %}
                    <p class="subtitle">{{post.subtitle}}<br>{{post.date}}</p>
                    {%else%}
                    <p class="subtitle">{{post.date}}</p>
                    {%endif%}

                    <p>{{post.excerpt|truncate(250)}}</p>
                    <p class="mt-3"><a href="{{post.url}}">read more</a></p>
                  </article>
                  {%endfor%}
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <p class="title"><span>Featured Piece</span></p>
                    <p class="subtitle">The FTSE100</p>
                    <p>This is a work by Bruegel, re-worked using on a week's worth of FTSE100 closing price data.</p>
                      <figure class="image is-square mt-3">
                        <img src="/static/img/art/bruegel_ftse100.jpg" alt="placeholder">
                      </figure>
                    
                  </article>
                </div>
              </div>
              <div class="tile is-parent is-vertical">
                  <article class="tile is-child box" style="background-image: url('/static/img/linear_thinking.jpg');">
                    <a href="{{url_for('art', path='linear-thinking/index.html')}}">
                    <p class="title has-text-light"><span class="has-background-black-bis px-3">Linear thinking</span></p>
                    <p class="subtitle has-text-light"><span class="has-background-black-bis px-3 pb-1 padded-multiline">
                      A collection of things made from lines.</span></p></a>
                  </article>
                
                  <article class="tile is-child box" style="background-image: url('/static/img/remastered.jpg');">
                    <a href="{{url_for('art', path='remastered/index.html')}}">
                    <p class="title has-text-light"><span class="has-background-black-bis px-3">Remastered</span></p>
                    <p class="subtitle has-text-light"><span class="has-background-black-bis px-3 pb-1 padded-multiline">
                      Standing on the shoulders of giants.</span></p></a>
                  </article>
                  <article class="tile is-child box" style="background-image: url('/static/img/barcodes.jpg');">
                    <a href="{{url_for('art', path='barcoded/index.html')}}">
                    <p class="title has-text-light"><span class="has-background-black-bis px-3">Barcoded</span></p>
                    <p class="subtitle has-text-light"><span class="has-background-black-bis px-3 pb-1 padded-multiline">
                            Standing on the shoulders of barcodes.</span></p>
                    </a>
                  </article>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">
                <div class="content">
                  <p class="title"><span>About this site</span></p>
                  <p class="subtitle">... and my creative process</p>
                  <div class="content">
  
                    <p>This site is mostly about the art that I make, but also a bit about other things too. Take a look around - you'll find things to look at, things to read and things you can buy.</p>
  
                    <p>My art uses digital techniques to produce pieces with a modern feel, using hand-written code to generate and manipulate vector files. This site is also hand-written - I'm typing this (and all the html, scripts, styling etc) into a code editor. In an age of plugins, frameworks and design patterns, it's quite nice to do things the long way round sometimes.</p> 
  
                    <p>Chance plays a big part in my creative process - the art uses deliberately imprecise code to make sure I can't dictate the outcome too clearly. I give the computer somewhere to start and some basic rules to follow, then wait to be surprised by the result.</p>
  
                    <p>Most of my pieces start with a source image, which can be as expressive as the work of an old master or as formulaic as a barcode. I use statistical techniques and randomised manipulations, adjusting parameters (and usually the algorithms themselves) many times for every piece.</p>
  
                    <p>I then select and edit the vector images, generate high-resolution renders and have them giclée printed. I have recently started experimenting with acrylic paint, transferring the image from the digital world to the physical world by hand.</p>
  
                    <p>You can follow my progress in my weeknotes on this site, or on instagram.</p>
  
                    <p>Finally, get in touch. I'd love to hear from you.</p>
                  </div>
                </div>
              </article>
              <div class="tile is-child box">
                <p class="title"><span>My newsletter</span></p>
                <p class="subtitle"><span>It really is worth signing up.</span></p>
                <div class="content">
                  <p>I know, I know. But pop your email address in the box below and every once in a blue moon, I'll tell you about something interesting, offer you a special discount, or whatever. In the hierrarchy of who gets to know about things, the email list comes right behind existing customers, but ahead of instagram followers.</p> 
                  <p>So jump the queue and sign up.</p>
                  <form name="newsLetterForm" class="pt-4" data-netlify="true">
                    <div class="field is-grouped">
                      <div class="control is-expanded">
                        <input type="email" name="email" class="input" placeholder="put your email address here then click the button -->">
                      </div>
                      <div class="control">
                        <button class="button is-primary">sign up</button>
                      </div>
                    </div>
                  </form>
                </div>
                
  
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ***endmain*** -->
    {%endblock%}

      