{% extends "base.html" %}
{% set page_title = 'Art things' %}
{% set description = 'Archived art stuff, mostly from 2020.' %}
{% set og_image = '/static/img/linear_thinking.jpg' %}

{% block content %}
<main id="maincontent">
  <section class="section">
    <div class="narrow">
      <h1>Art things</h1>
      <div class="prose">
        <p>I group most of my art things into collections, or series. <br/>Click the names
           of each series below to explore.</p>
      </div>
    </div>

    <div class="wrap">
      <div class="series-list">
        <article class="series" style="background-image: url('/static/img/linear_thinking.jpg');">
          <h2><span class="plate"><a href="{{ url_for('art', path='linear-thinking/index.html') }}" style="color:#fff">Linear thinking</a></span></h2>
          <p><span class="plate">A collection of things made from lines.</span></p>
        </article>

        <article class="series" style="background-image: url('/static/img/remastered.jpg');">
          <h2><span class="plate"><a href="{{ url_for('art', path='remastered/index.html') }}" style="color:#fff">Remastered</a></span></h2>
          <p><span class="plate">Standing on the shoulders of giants.</span></p>
        </article>

        <article class="series" style="background-image: url('/static/img/barcodes.jpg');">
          <h2><span class="plate"><a href="{{ url_for('art', path='barcoded/index.html') }}" style="color:#fff">Barcoded</a></span></h2>
          <p><span class="plate">Standing on the shoulders of barcodes.</span></p>
        </article>
      </div>
    </div>
  </section>
</main>
{% endblock %}
