{% extends "base.html" %}
{% block content %}
        
<main id="maincontent">
  <section class="has-background-light">
    <div class="container is-max-desktop pt-6">
      <div class="box mt-6">
        <h1 class="title has-text-primary">{{post.title}}</h1>
        <h2 class="subtitle has-text-primary">{{post.subtitle or ''}}</h2>
        <h3 class="subtitle">{{post.date or ''}}</h3>
        <div class="content">{{post.content|safe}}</div>
      </div>
    </div>
    <div class="container is-max-desktop">
      <p><a href="/read/index.html"><-- return to index</a></p>
    </div>
  </section>
</main>
{%endblock%}
