{% extends "base.html" %}
{% block content %}

<main id="maincontent">
    <section>
        <div class="container is-widescreen">
            <div class="columns is-multiline">
                {% for post in posts %}
                <article class="column is-5 box m-3">
                    <h1 class="title">{{post.title}}</h1>

                    {%if post.subtitle != None %}
                    <p class="subtitle">{{post.subtitle}}<br>{{post.date}}</p>
                    {%else%}
                    <p class="subtitle">{{post.date}}</p>
                    {%endif%}
                    
                    <p>{{post.excerpt|truncate(250)}}</p>
                    <p class="mt-3"><a href="{{post.url}}">read more ...</a></p>
                </article>
                {%endfor%}
            </div>
        </div>
    </section>
  </main>


{%endblock%}